.navbar-nav {
  background-color: #7352e6;
  height: 100vh;
  width: 15%;
}

.nav-link:hover {
  background-color: #8970e4;
  border-radius: 10%;
}

.btn-primary {
  background-color: #4129b4 !important;
}

.btn-outline-primary {
  border-color: #4129b4 !important;
  color: #4129b4 !important;
}

.modalbg {
  background-color: #9c9c9c50;
}

